<div style="margin-bottom: 50px;">
  <div class="row">
    <div class="col-lg-12">
       <img [src]="recipe.imagePath" 
       alt="{{recipe.name}}" 
       class="img-responsive center-block"
       style="width: 400px;height: 400px;">
     </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12" style="border-radius: 10px;margin: 5px 0px;">
      <h1 >{{recipe.name}}</h1> 
     </div>
  </div>
  
  <h3>Steps</h3>
  
  <div class="row">
     <div class="col-xs-12">
       {{recipe.description}}
     </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <div class="btn-group"
           appDropDown >
        <button type="button" 
                class="dropdown-toggle" style="width: 400px;border-radius: 10px;border: none;background-color: #337AB7;color: white;padding: 10px;font-size: 14px;" >
             Manage Recipe 
             <span class="caret"></span> 
        </button>
        <ul class="dropdown-menu" style="width: 400px;">
          <li><a  (click)="onAddToShoppingList()" style="cursor:pointer">To Shopping List</a></li>
          <li><a style="cursor:pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
          <li><a style="cursor:pointer">Delete Recipe</a></li>
         </ul>
      </div>
    </div>
  </div>
  <h3>Ingredients</h3>
  <div class="row">
     <div class="col-xs-12">
       <ul class="list-group">
        <li class="list-group-item"
            *ngFor = "let ingredient of recipe.ingredients">
          <span style="text-transform: capitalize;">{{ingredient.name}}</span>
          <span style="float: right;text-transform: capitalize">{{ingredient.amount}}</span>
          </li>
       </ul>
     </div> 
  </div>
  
  
  
</div>